.card-wrapper {
  padding: 0 .5rem;
}

.card {
  border: 1px solid lightgray;
  min-width: 200px;
  padding: 1rem;
  max-height: 200px;
  text-align: left;
  position: relative;
}

.close {
  position: absolute;
  right: 13px;
  top: 12px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.card .title {
  font-size: 1.2rem;
  margin-bottom: .5rem;
  font-weight: 500;
}


.card .icon-container i {
  font-size: 4rem;
  display: inline-block;
  margin-right: 1rem;
}

.card .celsius {
  font-size: 2rem;
}

.card .wind {
  margin: 1rem 0;
  font-size: 1rem;
}

.card .pressure {
  font-size: 1rem;
}